/********************************************************************************* 
* 
* WEB222 – Assignment #4b 
* 
* I declare that this assignment is my own work in accordance with Seneca 
* Academic Policy. No part of this assignment has been copied manually or 
* electronically from any other source (including web sites) or distributed to 
* other students. 
* 
* Name: Kazim Akhlaqi Student ID: 103638177 Date: July 14, 2018
* 
********************************************************************************/
/* Select with class “main-container” and adjust it’s size (width) and margins */
.main-container {
    max-width: 960px;
    margin: 0px auto;
}

/* Select all <nav> elements that are a child of an element
 with class “main-container” and adjust it’s size and position */
 .main-container nav {
    width: 30%;
    float: left;
}

/* Select all elements with class ".main" inside element with 
class “main-container” and adjust it’s size and position */
 .main-container .main {
    width: 70%;
    float: right;
}

/* Select header element inside element with class “main-container”
and adjust it’s margin, padding, border and color */
.main-container header {
    padding: 10px;
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
}

/* Select all <h1> elements that are inside <header> elements that
<header> elements are inside elements with class "main-container"
and adjust its width, font-size, position and margin */ 
.main-container header h1 {
    width: 70%;
    font-size: 24px;
    float: right;
    text-align: right;
    margin-top: 10px;
}

/* Select footer element inside element with class “main-container”
and adjust it’s position, padding, backgroun-color, border and font-size */
.main-container footer {
    clear: both;
    padding: 20px 10px;
    background-color: #eeeeee;
    border-top: 1px solid #cccccc;
    font-size: 13px;
}

/* Select element with id “logo” and adjust it’s width, font-size and font-weight */
#logo {
    width: 30%;
    font-size: 25px;
    font-weight: bold;
}

/* Select <img> element inside element with id “logo”
and adjust it’s size and position */
#logo img {
    width: 94px;
    vertical-align: middle;
}

/* Select all <ul> elements inside element <nav> element and adjust it style
to remove the bullets or numbers infront if elements */
nav ul {
    list-style-type: none;
}

/* Select all <a> elements inside <ul> elements that <ul> elements are 
inside all <nav> elements and adjust its padding, romove the underline
and display the <a> elements as a "block-level element */
nav ul a {
    display: block;
    text-decoration: none;
    padding: 5px;
}

/* Select all <div> elements with class "province"
and adjust it’s size, position and padding */
div.province {
    width: 30%;
    float: left;
    margin: 8px;
    height: 310px;
}

/* Select all elements with class "desciption" inside all 
<div> elements with class "province" 
and adjust it’s size and margins */
div.province .description {
    max-height: 165px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Select all <a> elements inside all <div> elements
with class "province" and adjust it’s padding, display,
background-color, text alignment and color, and remove the underline */
div.province a {
    display: block;
    text-align: center;
    background-color: #555555;
    color: #eeeeee;
    text-decoration: none;
    padding: 5px;
}

/* Select all <ima> elements with class "flag" 
and adjust its size to 100% */
img.flag {
    width: 100%;
}